<a href="https://colab.research.google.com/github/manali2511/Project/blob/main/Copy_of_Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task 1: Square of each element
import numpy as np

arr = np.array([10, 20, 30, 40, 50])
new_arr = arr ** 2

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [10 20 30 40 50]
New Array: [ 100  400  900 1600 2500]

In [ ]:
# Task 2: Sum and Product
arr = np.array([2, 3, 5, 7, 11])

arr_sum = np.sum(arr)
arr_product = np.prod(arr)

print("Array:", arr)
print("Sum:", arr_sum)
print("Product:", arr_product)

Array: [ 2  3  5  7 11]
Sum: 28
Product: 2310

In [ ]:
# Task 3: Subtract 5 from each element
arr = np.array([15, 25, 35, 45, 55])
new_arr = arr - 5

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [15 25 35 45 55]
New Array: [10 20 30 40 50]

In [ ]:
# Task 4: Create DataFrame for students
import pandas as pd

data = {
    "Name": ["Amit", "Sneha", "Ravi", "Priya", "Kiran"],
    "Graduation_Percentage": [78, 85, 90, 72, 88],
    "Age": [21, 22, 23, 21, 22]
}

df = pd.DataFrame(data)
print("Students DataFrame:")
print(df)

# Average Age and Graduation Percentage
avg_age = df["Age"].mean()
avg_percentage = df["Graduation_Percentage"].mean()

print("\nAverage Age of Students:", avg_age)
print("Average Graduation Percentage:", avg_percentage)

# Basic Statistics
print("\nStatistical Summary:")
print(df.describe())

Students DataFrame:
    Name  Graduation_Percentage  Age
0   Amit                     78   21
1  Sneha                     85   22
2   Ravi                     90   23
3  Priya                     72   21
4  Kiran                     88   22

Average Age of Students: 21.8
Average Graduation Percentage: 82.6

Statistical Summary:
       Graduation_Percentage       Age
count                5.00000   5.00000
mean                82.60000  21.80000
std                  7.46994   0.83666
min                 72.00000  21.00000
25%                 78.00000  21.00000
50%                 85.00000  22.00000
75%                 88.00000  22.00000
max                 90.00000  23.00000

In [ ]:
# Task 1: Multiply each element by 2
import numpy as np

arr = np.array([1.5, 2.5, 3.5, 4.5, 5.5])
new_arr = arr * 2

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [1.5 2.5 3.5 4.5 5.5]
New Array: [ 3.  5.  7.  9. 11.]

In [ ]:
# Task 2: Mean and Median
arr = np.array([5, 10, 15, 20, 25])

mean_val = np.mean(arr)
median_val = np.median(arr)

print("Array:", arr)
print("Mean:", mean_val)
print("Median:", median_val)

Array: [ 5 10 15 20 25]
Mean: 15.0
Median: 15.0

In [ ]:
# Task 3: Divide each element by 2
arr = np.array([12, 14, 16, 18, 20])
new_arr = arr / 2

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [12 14 16 18 20]
New Array: [ 6.  7.  8.  9. 10.]

In [ ]:
# Task 4: Employees DataFrame
import pandas as pd

data = {
    "Name": ["John", "Alice", "Ravi", "Sneha", "Kiran"],
    "Salary": [50000, 60000, 75000, 55000, 65000],
    "Experience": [2, 5, 7, 3, 6]
}

df = pd.DataFrame(data)
print("Employees DataFrame:")
print(df)

# Total Salary
total_salary = df["Salary"].sum()
# Average Years of Experience
avg_exp = df["Experience"].mean()

print("\nTotal Salary of Employees:", total_salary)
print("Average Years of Experience:", avg_exp)

# Basic Statistics
print("\nStatistical Summary:")
print(df.describe())

Employees DataFrame:
    Name  Salary  Experience
0   John   50000           2
1  Alice   60000           5
2   Ravi   75000           7
3  Sneha   55000           3
4  Kiran   65000           6

Total Salary of Employees: 305000
Average Years of Experience: 4.6

Statistical Summary:
             Salary  Experience
count      5.000000    5.000000
mean   61000.000000    4.600000
std     9617.692031    2.073644
min    50000.000000    2.000000
25%    55000.000000    3.000000
50%    60000.000000    5.000000
75%    65000.000000    6.000000
max    75000.000000    7.000000

In [ ]:
# Task 1: Add 4 to each element
import numpy as np

arr = np.array([3, 6, 9, 12, 15])
new_arr = arr + 4

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [ 3  6  9 12 15]
New Array: [ 7 10 13 16 19]

In [ ]:
# Task 2: Compute weighted average
arr = np.array([1, 2, 3, 4, 5])
weights = np.array([0.1, 0.2, 0.3, 0.4, 0.5])

weighted_avg = np.average(arr, weights=weights)

print("Array:", arr)
print("Weights:", weights)
print("Weighted Average:", weighted_avg)

Array: [1 2 3 4 5]
Weights: [0.1 0.2 0.3 0.4 0.5]
Weighted Average: 3.6666666666666665

In [ ]:
# Task 3: Each element half of the corresponding element
arr = np.array([10, 20, 30, 40, 50])
new_arr = arr / 2

print("Original Array:", arr)
print("New Array:", new_arr)

Original Array: [10 20 30 40 50]
New Array: [ 5. 10. 15. 20. 25.]

In [ ]:
# Task 4: Products DataFrame
import pandas as pd

data = {
    "Product": ["Laptop", "Phone", "Tablet", "Monitor", "Keyboard"],
    "Price": [80000, 30000, 20000, 15000, 5000],
    "Quantity": [10, 25, 15, 20, 30]
}

df = pd.DataFrame(data)
print("Products DataFrame:")
print(df)

# Total Quantity
total_qty = df["Quantity"].sum()
# Average Price
avg_price = df["Price"].mean()

print("\nTotal Quantity of Products:", total_qty)
print("Average Price of Products:", avg_price)

# Basic Statistics
print("\nStatistical Summary:")
print(df.describe())

Products DataFrame:
    Product  Price  Quantity
0    Laptop  80000        10
1     Phone  30000        25
2    Tablet  20000        15
3   Monitor  15000        20
4  Keyboard   5000        30

Total Quantity of Products: 100
Average Price of Products: 30000.0

Statistical Summary:
              Price   Quantity
count      5.000000   5.000000
mean   30000.000000  20.000000
std    29368.350311   7.905694
min     5000.000000  10.000000
25%    15000.000000  15.000000
50%    20000.000000  20.000000
75%    30000.000000  25.000000
max    80000.000000  30.000000